VITE_BACKEND_URL=http://127.0.0.1:8000
VITE_API_URL=http://127.0.0.1:8000/api/v1
VITE_USE_AUTH_MOCK=false
VITE_USE_STUDENTS_MOCK=false
VITE_EIDA_INSTITUTIONAL_EMAIL_DOMAINS=umss.edu.bo
VITE_EIDA_INSTITUTIONAL_EMAIL_DOMAINS=umss.edu.bo
